<?xml version="1.0"?>
<configuration>    
  <connectionStrings>
    <add name="UsedCarDealerConnectionStringRead" connectionString="E+0u/chg24YpfSx1QQ8nsF2ewkoBP7GjE0vs64M+vxwkRm1qND2HVyeQf4G0ZgUBUIH8ro42oDx2yVCi8CM9tx7GGN87IDn4SuCJH1c1hEXe+skvq0TRmUMxG7o/COR6XbIMkxWHNYguTmRZcW4xhokm1jp0dYcPf3myCdACm0QLOgZZeWk0uw==" providerName="System.Data.SqlClinet"/>    
    <add name="UsedCarDealerConnectionStringWrite" connectionString="E+0u/chg24YpfSx1QQ8nsF2ewkoBP7GjwbhzV6Tqt+knkH+BtGYFAVCB/K6ONqA8dslQovAjPbcexhjfOyA5+ErgiR9XNYRF3vrJL6tE0ZlDMRu6Pwjkel2yDJMVhzWILk5kWXFuMYaJJtY6dHWHD395sgnQAptECzoGWXlpNLs=" providerName="System.Data.SqlClinet"/>
  <add name="UsedCarConnectionStringRead" connectionString="E+0u/chg24YpfSx1QQ8nsF2ewkoBP7GjE0vs64M+vxwkRm1qND2HVyeQf4G0ZgUBUIH8ro42oDx2yVCi8CM9tz+VTFml2+17NEUz4dMtJKMLL6PnBt+qJX/i3Xhyl7rx83mqmOuVpMIgNinNXWwVQCwdX7amRkT8M0oOflEcp1I=" providerName="System.Data.SqlClinet"/>
    <add name="UsedCarConnectionStringWrite" connectionString="E+0u/chg24YpfSx1QQ8nsF2ewkoBP7GjwbhzV6Tqt+knkH+BtGYFAVCB/K6ONqA8dslQovAjPbc/lUxZpdvtezRFM+HTLSSjCy+j5wbfqiV/4t14cpe68fN5qpjrlaTCIDYpzV1sFUAsHV+2pkZE/DNKDn5RHKdS" providerName="System.Data.SqlClinet"/>
  </connectionStrings> 
</configuration>
